.scroll {
	padding: 10px;
	background-color: rgba(255,255,255,.1);
	overflow-y: scroll;
	height: 80vh;
}

.scroll::-webkit-scrollbar {
	display: none;
  	width: .5em;
}
 
.scroll::-webkit-scrollbar-track {
  	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.scroll::-webkit-scrollbar-thumb {
	border-radius: 6px;
  	background-color: black;
}